.card
{
   margin-top: 64px;
   height: 475px;
   display: flex;
   flex-wrap: wrap;
}

.cards
{
   display: flex;
}

.card__item
{
   margin: 0 10px 20px 10px;
}

.card__item__header
{
   display: flex;
   justify-content: space-between;
   padding: 10px;
}

.card__item__image
{
   /* color like none photo */

   background-color: rgb(226, 226, 226);
      height: 360px;
      width: 280px;
}

.card__item__image img
{
   height: 360px;
   width: 280px;
   background-size: cover;
   /* background-position: center; */
   object-fit: cover;
}

.card__pit
{
   display: flex;
   justify-content: space-between;
   padding: 10px;
}

.card__pit__rightside__button__buy, .card__pit__rightside__button__buy button
{
   border: none;
   background-color: #004F44;
   color: white;
   padding: 10px 20px;
   border-radius: 5px;
   /* put to the bottom */
   margin-top: 20px;

}

.dot {
  margin: 2px;
  height: 20px;
  width: 20px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}